<div class="jumbotron">
  <h2>Hello Beautiful World</h2>
  <h4>DDD Has some APIs. These are version 0.1.</h4>
  <ul class="list-unstyled text-left">
    <li><a href="/api/v0.1/admit">/admit</a></li>
    <li><a href="/api/v0.1/discharge">/discharge</a></li>
    <li><a href="/api/v0.1/transfer">/transfer</a></li>
    <li><a href="/api/v0.1/change">/change</a></li>
  </ul>
</div>

