<h1>/update</h1>
<p class="lead">
  Notify DDD of an update to the patient information.
</p>
<h4>Params</h4>
<ul>
  <li>pre: JSON Serialized state before the change</li>
  <li>post: JSON Serialized state after the change</li>
  <li>endpoint: Place to POST any resulting triggers from this change</li>
</ul>
